
tag position: <span id="position" data-lat="{{geo.latitude}}" data-lon="{{geo.longitude}}"></span>
distance <span id="distance"></span>
<span id="status"></span>


<button id="reloadButton">Auto-Reload</button>
<button id="stopButton">Stop Auto Reload</button>



{{geo | dump}}